{
  "telegramApiKey": "----",
  "binanceApiKey": "----",
  "binanceApiSecret": "----",
  "adminUserId": "--userid--"
  "accessControl": {
    "groups": {
    "private": [
      "--userid--",
      "--userid--"
    ],
    "public": [
      "--userid--",
      "--userid--",
    ]
  },
    "adminChatId": "--some digits--",
  }
}