{
  "telegramApiKey": "----",
  "binanceApiKey": "----",
  "binanceApiSecret": "----",
  "adminUserId": "--telegram id--",
  "accessControl": {
    "groups": {
    "private": [
      "--telegram id--",
      "--telegram id--"
    ],
    "public": [
      "--telegram id--",
      "--telegram id--",
    ]
  },
    "adminChatId": "--admin chat id (only digits)--",
  }
}
