{
  "telegramApiKey": "----",
  "binanceApiKey": "----",
  "binanceApiSecret": "----",
  "accessControl": {
    "groups": {
      "private": [
        "--telegram usedid--",
        "--telegram usedid--"
      ],
      "public": [
        "--telegram userid--",
        "--telegram userid--"
      ]
    },
    "adminUserId": "--telegram userid--",
    "adminChatId": "--telegram chat id--"
  }
}
